html body {
  margin: 0px;
  padding: 0px;
  width: 100%;
}
body {
  font-family: sans-serif;
  overflow-x: hidden;
}
header {
  width: 100%;
  height: 60px;
  background: white;
  background-size: cover;
  background-attachment: fixed;
}
.logo {
  float: left;
  margin: 16px 36px;
  color: black;
  font-weight: bold;
  font-size: 24px;
}
nav {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1;
}

nav ul {
  list-style: none;
  background: rgba(0 0 0 0);
  overflow: hidden;
  text-align: center;
  color: white;
  padding: 0;
}

nav ul li {
  display: inline-block;
  padding: 20px;
}
nav ul li a {
  text-decoration: none !important;
  color: black !important;
  font-size: 18px;
  font-family: sans-serif;
  text-transform: uppercase;
}

.rooter {
  padding-left: 15px;
  padding-right: 15px;
}
.man {
  color: white;
  padding: 10px;
  text-decoration: none;
}
.one {
  background-color: black;
  color: white;
  height: 40px;
}
.pic {
  width: 100%;
  margin-bottom: 20px;
}
.email {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
}

.navbar-home {
  background-color: white;
  border: 0px;
  margin-bottom: 0px;
}
.caro {
  height: 600px;
  margin-bottom: 30px;
}
.thum {
  height: 230vh;
  background-image: url(image/pl.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: overlay;
  background-color: lightblue;
}

footer {
  margin-top: 20px;
  padding: 9px;
  height: 50px;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
